.rebar
.eunit
deps
!deps/.placeholder
*.o
*.beam
*.plt
erl_crash.dump
ebin
!ebin/.placeholder
.exrc
log/
*.swp
*.so
.erlang.mk/
logs/
ct.coverdata
test/ct.cover.spec
.idea/
emqttd_recon.iml
Mnesia.nonode@nohost/
data/
emq_recon.d
cover/
eunit.coverdata
.DS_Store
